*{
	margin: 0;
	padding: 0;
}
body{
	background: #EEE;
	font-family: "Roboto", sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

.container{
	max-width: 1000px;
	background: #E4F9F5;
	margin: 0 auto;
}
/* header{} */
.profile-image{
	width: 120px;
	height: auto;
	border: 3px solid #fff;
	border-radius: 50%;
	float: left;
}
.header-bio{
	float: left;
	padding: 50px 13px;
}
h1,h2,h3,h4,h5,h6{
	color: #11999e;
}
.header-contact{
	float: right;
	padding: 30px;
}
.header-contact a{
	text-decoration: none;
	color: teal;
	font-weight: bold;
}
.header-contact a:hover{
	text-decoration: underline;
	color: tomato;
}
.div-clear{
	clear: both;
}
hr{
	border: 3px solid black;
	width: 100%;
	margin: 20px auto;
	border-bottom: none;
}

/*--------------------
Personal section Start
----------------------*/
#personal-section{}
.content{
	margin-bottom: 30px;
}
.left-div{
	width: 30%;
	float: left;
}
.right-div{
	width: 70%;
	float: left;
}
/*--------------------
Personal section End
----------------------*/
.common-hr{
	border: 1px solid #000;
	border-bottom: none;
	width: 100%;
	margin: 20px auto;
}



/*---------------------
Footer section Start
-----------------------*/
.footer{
	background: black;
	text-align: center;
	padding: 15px 20px;
	margin-bottom: 10px;
}
.footer a{
	color: #fff;
	text-decoration: none;
	margin: 20px;
}
.footer p{
	color: #fff;
	margin-top: 20px;
}
/*---------------------
Footer section End
-----------------------*/